@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Playwrite+CU:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}
:root{
  --bg-color: rgb(47,47,47);
  --text-color: rgb(255,255,255);
  --accent-color: rgb(61,61,61);
  --font-family:Arial;
}
body {
  margin: 0;
  font-family:var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}